<!DOCTYPE html>
<html>
  <head> 
    <title> Well done!!</title>
    <link rel="icon" type="static/x-icon" href="static/favicon.ico">
    <style>
      body {
        body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
      }
    </style>

  </head>
 
  </head>

  <body >
    <IMG SRC="image1.gif">
    <iframe src="https://giphy.com/embed/3o7TKDmvzlxnkkPoSA" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Originals-applause-clapping-3o7TKDmvzlxnkkPoSA">via GIPHY</a></p>
  </body>
  
</html>